
<form id="form_res" method="post">
	<input type='hidden' name='_csrf' value='<%= _csrf %>'>
	<div class="row">
		<div class="col-md-12">
			<div class="well bs-component">
				<fieldset>
					<legend>Comentarios.</legend>
					<legend style="margin-top: -5.5%;float: right;width: 22%;">
						ESTADO: 
						<select class="form-control" name="estados" style="margin-top: -15%; margin-left: 37%; width: 63%;">
							<option value="checar" <% if(res.estado=='checar'){ %>selected<% } %>>Checar</option>
							<option value="checado" <% if(res.estado=='checado'){ %>selected<% } %>>Revisado</option>
							<option value="finalizado" <% if(res.estado=='finalizado'){ %>selected<% } %>>Finalizado</option>
						</select>
					</legend>
					<div class="form-group">
						<textarea class="form-control" name="comentarios"><%= res.comentario %></textarea>
					</div>
				</fieldset>
			</div>
		</div>		
	</div>
	<div class="row">
		<%= res.medidas %>
		<div class="col-md-6">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Medidas del Animal.</legend>
						<div class="form-group">
							<label for="peso" class="col-xs-2 control-label">Peso del Animal</label>
							<div class="input-group col-xs-10">
							<input type="number" class="form-control" value="<%= res.medidas.peso %>" name="peso" readonly>
								<span class="input-group-addon">Kgs</span>
							</div>
						</div>
						<div class="form-group">
							<label for="altura" class="col-xs-2 control-label">Altura del Animal</label>
							<div class="input-group col-xs-10">
								<input type="number" class="form-control" value="<%= res.medidas.altura %>" name="altura" readonly>
								<span class="input-group-addon">Mts</span>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Datos del Animal.</legend>
						<div class="form-group">
							<label for="raza" class="col-xs-2 control-label">Raza</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" value="<%= res.raza %>" readonly>
							</div>
						</div>
						<div class="form-group">
							<label for="sexo" class="col-xs-2 control-label">Sexo</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" value="<%= res.sexo %>" readonly>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

	</div>
	<button type="submit" id="btn_submit" style="display:none"></button>
</form>


<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
	<li class="mfb-component__wrap">
		<a class="mfb-component__button--main">
			<i class="mfb-component__main-icon--resting fa fa-plus"></i>
			<i class="mfb-component__main-icon--active fa fa-plus"></i>
		</a>

		<ul class="mfb-component__list">
			<li>
				<a data-mfb-label="Guardar" class="mfb-component__button--child" id="guardar">
					<i class="mfb-component__child-icon fa fa-floppy-o"></i>
				</a>
			</li>
		</ul>
	</li>
</ul>

<script>
	$('#guardar').click(function(e){
		e.preventDefault();
		$('#btn_submit').trigger('click');
	});
</script>