<div class="row">

	<div class="col-md-12 well">
		<legend>Reses con signos destacados</legend>
		<div class="bs-component">
			<table id="datos_princ" class="table table-striped table-hover">
				<thead>
					<tr>
						<th data-column-id="id" data-type="numeric">ID</th>
						<th data-column-id="raza">Raza</th>
						<th data-column-id="peso">Peso</th>
						<th data-column-id="altura">Altura</th>
						<th data-column-id="fcardiaca">F. Cardiaca</th>
						<th data-column-id="respiratoria">F. Respiratoria</th>
						<th data-column-id="temperatura">Temperatura</th>
						<th data-column-id="grado">Estado</th>
						<th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>		
					</tr>
				</thead>
				<tbody>
				<% reses.forEach(function(res){ %>
					<tr>
						<td><%= res.id %></td>
						<td><%= res.raza.nombre %></td>
						<td><%= res.medidas.peso %>kg</td>
						<td><%= res.medidas.altura %>mt</td>
						<td class=""><span id="fcard_res_<%= res.id %>"><%= res.signos.frecuencia_cardiaca %></span>LPM <i class="icont"></i></td>
						<td class=""><span id="fres_res_<%= res.id %>"><%= res.signos.frecuencia_respiratoria %></span>RPM <i class="icont"></i></td>
						<td class=""><span id="temp_res_<%= res.id %>"><%= res.signos.temperatura %></span>°C  <i class="icont"></i></td>
						<td class="estado_<%= res.id %>">
							<% if(res.estado == 'checar'){ %>
								<span class="label label-danger">Sin atender</span>
							<% } %>
							<% if(res.estado == 'checado'){ %>
								<span class="label label-warning">Atendiendo</span>
							<% } %>
							<% if(res.estado == 'finalizado'){ %>
								<span class="label label-success">Recuperado</span>
							<% } %>
						</td>
						<td><a class="btn btn-info btn-sm" href="/res/12" >Ver</a></td>
					</tr>
				<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).on('ready', function(){
		io.socket.get('/');
		io.socket.on('signo_vital',function(obj){
			console.log(obj);
			temp = parseFloat(obj.data.temperatura);
			fcar = parseInt(obj.data.frecuencia_cardiaca);
			fres = parseInt(obj.data.frecuencia_respiratoria);
			if(obj.verb == 'created'){
				$('#temp_res_' + obj.data.res).next().removeClass();
				$('#fcard_res_' + obj.data.res).next().removeClass();
				$('#fres_res_' + obj.data.res).next().removeClass();

				if (parseFloat($('#temp_res_' + obj.data.res).html()) == temp){
					$('#temp_res_' + obj.data.res).next().addClass('fa fa-minus')
				}
				else if (temp < parseFloat($('#temp_res_' + obj.data.res).html())){
					$('#temp_res_' + obj.data.res).next().addClass('fa fa-chevron-down')
				}
				else if (temp > parseFloat($('#temp_res_' + obj.data.res).html())){
					$('#temp_res_' + obj.data.res).next().addClass('fa fa-chevron-up')
				}

				if (parseInt($('#fcard_res_' + obj.data.res).html()) == fcar){
					$('#fcard_res_' + obj.data.res).next().addClass('fa fa-minus')
				}
				else if (fcar < parseInt($('#fcard_res_' + obj.data.res).html())){
					$('#fcard_res_' + obj.data.res).next().addClass('fa fa-chevron-down')
				}
				else if (fcar > parseInt($('#fcard_res_' + obj.data.res).html())){
					$('#fcard_res_' + obj.data.res).next().addClass('fa fa-chevron-up')
				}

				if (parseInt($('#fres_res_' + obj.data.res).html()) == fres){
					$('#fres_res_' + obj.data.res).next().addClass('fa fa-minus')
				}
				else if (fres < parseInt($('#fres_res_' + obj.data.res).html())){
					$('#fres_res_' + obj.data.res).next().addClass('fa fa-chevron-down')
				}
				else if (fres > parseInt($('#fres_res_' + obj.data.res).html())){
					$('#fres_res_' + obj.data.res).next().addClass('fa fa-chevron-up')
				}
				
				$('#temp_res_' + obj.data.res).html(obj.data.temperatura);
				$('#fcard_res_' + obj.data.res).html(obj.data.frecuencia_cardiaca);
				$('#fres_res_' + obj.data.res).html(obj.data.frecuencia_respiratoria);

						/* fa-chevron-up fa-minus fa-chevron-down */

				$('#temp_res_' + obj.data.res).parent().removeClass();
				$('#fcard_res_' + obj.data.res).parent().removeClass();
				$('#fres_res_' + obj.data.res).parent().removeClass();

				if (temp  >= 37 && temp < 39 ){
					$('#temp_res_' + obj.data.res).parent().addClass('success');
				}
				else if ((temp  >= 39.00 && temp  <= 39.99) || (temp <= 37.99 && temp  >= 37.00)){
					$('#temp_res_' + obj.data.res).parent().addClass('warning');
				}
				else if (temp  > 39.99 || temp < 37 ){
					$('#temp_res_' + obj.data.res).parent().addClass('danger');
				}

				if (fcar  > 69 && fcar < 81 ){
					$('#fcard_res_' + obj.data.res).parent().addClass('success');
				}
				else if ((fcar > 64 && fcar < 70) || (fcar > 80 && fcar < 86)){
					$('#fcard_res_' + obj.data.res).parent().addClass('warning');
				}
				else if (fcar  > 85 || fcar < 65 ){
					$('#fcard_res_' + obj.data.res).parent().addClass('danger');
				}

				if (fres  > 14 && fres < 21 ){
					$('#fres_res_' + obj.data.res).parent().addClass('success');
				}
				else if ((fres  < 15 && fres > 11) || (fres > 20 && fres < 23 )){
					$('#fres_res_' + obj.data.res).parent().addClass('warning');
				}
				else if (fres  < 12 || fres > 22 ){
					$('#fres_res_' + obj.data.res).parent().addClass('danger');
				}
			}
		});
	});
</script>