<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Monito~Res</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link rel="icon" href="/images/logor.png" />


	<!--STYLES-->
	<link rel="stylesheet" href="/min/production.min.css">
	<!--STYLES END-->
	
	<!--SCRIPTS-->
	<script src="/min/production.min.js"></script>
	<!--SCRIPTS END-->
</head>

<body>

	<header>
		<nav class="navbar navbar-default navbar-fixed-top">

			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="" data-trigger="#sidebar" id="menu-trigger"><i class="fa fa-bars fa-lg"></i></a></li>
				</ul>
				<a href="/"><img src="/images/logor.png" style="width: 52px; margin-top: 5px;"></a>
				<ul class="nav navbar-nav navbar-right">
					<!--
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-warning fa-lg"></i><i class="noti">3</i></a>
						<ul class="dropdown-menu" role="menu">
							<li class="dropdown-header">Critico</li>
							<li>
								<a href="#">
									<div style="display:inline-block;margin-right:6px;"><i class="fa fa-heartbeat" style="font-size:x-large; color:#FF2F1F"></i></div>
									<div style="display:inline-block">
										<div class="drop-up">Res 6314125 / Corral E2</div>
										<div class="drop-down">Temperatura alta</div>
									</div>
								</a>
							</li>
						</ul>
					</li>
					-->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bell fa-lg"></i><i id="alertas" class="noti"><%= alertas.length %></i></a>
						<ul id="listaAlertas" class="dropdown-menu" role="menu">
							<li class="dropdown-header">Advertencia</li>
							<% alertas.forEach(function(alerta){ %>
								<li id="alerta_<%= alerta.res %>">
									<a href="/res/alerta/<%= alerta.res %>/">
										<div style="display:inline-block;margin-right:6px;">
											<i class="fa fa-heartbeat" style="font-size:x-large; color:#F5A800">										
											</i>
										</div>
										<div style="display:inline-block">
											<div class="drop-up">
												Res <%= alerta.res %> / Corral <%= alerta.res.grupo %>
											</div>
										</div>
									</a>
								</li>
							<% }) %>							
						</ul>
					</li>
					<li><a href="" data-trigger="#bookmark" id="bookmark-trigger"><i class="fa fa-bookmark fa-lg"></i></a></li>
				</ul>
			</div>
		</nav>
	</header>

	<aside id="sidebar">
		<div class="sidebar-inner">
			<div class="si-inner">
				<ul class="main-menu">
					<li ><a href="/"><i class="md md-home"></i> Home</a></li>
					<li class="sub-menu">
						<a href=""><i class="md md-more"></i> Res</a>
						<ul>
							<li><a href="/reses">Ver Reses</a></li>
							<li><a href="/res/registrar">Registrar Res</a></li>
						</ul>
					</li>
					<li class="sub-menu">
						<a href=""><i class="md md-border-all"></i> Corral</a>
						<ul>
							<li><a href="/corral/ver">Ver Corrales</a></li>
							<li><a href="/corral/registrar">Registrar Corral</a></li>
						</ul>
					</li>
					<li><a href="/salir">Salida</a></li>
				</ul>
			</div>
		</div>
	</aside>

	<aside id="bookmark">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade active in" id="friends">
				<div class="listview">

					<a class="lv-item" href="">
						<div class="media">
							<div class="pull-left p-relative">
								<i class="fa fa-heartbeat fa-3x" style="color:#FF2F1F"></i>
							</div>
							<div class="media-body">
								<div class="lv-title">Res 123456 / Corral A5</div>
								<small class="lv-small">Temperatura Alta</small>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</aside>


	<div class="container">
		<%- body %>
	</div>


	
	<script>
		$(document).ready(function(){

			$("#datos_princ").bootgrid();
			$("html").niceScroll();
			$("#bookmark").niceScroll();

	        //Toggle
	        $('body').on('click', '#menu-trigger, #bookmark-trigger', function(e){            
	        	e.preventDefault();
	        	var x = $(this).data('trigger');

	        	$(x).toggleClass('toggled');
	        	$(this).toggleClass('open');
	        	$('body').toggleClass('modal-open');

	    	    //Close opened sub-menus
	    	    $('.sub-menu.toggled').not('.active').each(function(){
	    	    	$(this).removeClass('toggled');
	    	    	$(this).find('ul').hide();
	    	    });



	    	    $('.profile-menu .main-menu').hide();

	    	    if (x == '#sidebar') {

	    	    	$elem = '#sidebar';
	    	    	$elem2 = '#menu-trigger';

	    	    	$('#bookmark-trigger').removeClass('open');

	    	    	if (!$('#bookmark').hasClass('toggled')) {
	    	    		$('#header').toggleClass('sidebar-toggled');
	    	    	}
	    	    	else {
	    	    		$('#bookmark').removeClass('toggled');
	    	    	}
	    	    }

	    	    if (x == '#bookmark') {
	    	    	$elem = '#bookmark';
	    	    	$elem2 = '#bookmark-trigger';

	    	    	$('#menu-trigger').removeClass('open');

	    	    	if (!$('#sidebar').hasClass('toggled')) {
	    	    		$('#header').toggleClass('sidebar-toggled');
	    	    	}
	    	    	else {
	    	    		$('#sidebar').removeClass('toggled');
	    	    	}
	    	    }

	            //When clicking outside
	            $(document).on('click', function (e) {
	            	if (($(e.target).closest($elem).length === 0) && ($(e.target).closest($elem2).length === 0)) {
	            		setTimeout(function(){
	            			$('body').removeClass('modal-open');
	            			$($elem).removeClass('toggled');
	            			$('#header').removeClass('sidebar-toggled');
	            			$($elem2).removeClass('open');
	            		});
	            	}
	            });
	        })

	        //Submenu
	        $('body').on('click', '.sub-menu > a', function(e){
	        	e.preventDefault();
	        	$(this).next().slideToggle(200);
	        	$(this).parent().toggleClass('toggled');
	        });

	    });

	</script>
	<script type="text/javascript">
	$(document).on('ready', function(){
		io.socket.on('alerta',function(obj){
			console.log(obj);
			var html = '<li id="alerta_' + obj.data.res + '"><a href="/res/alerta/' + obj.data.res + '/"><div style="display:inline-block;margin-right:6px;"><i class="fa fa-heartbeat" style="font-size:x-large; color:#F5A800"></i></div><div style="display:inline-block"><div class="drop-up">Res ' + obj.data.res + ' / Corral ' + obj.data.corral + '</div><div class="drop-down">Temperatura ' + obj.data.temperatura + '</div></div></a></li>';
			var ex = $("#alerta_" + obj.data.res);
			if(ex.length == 0)
			{
				var n = $('#alertas').text();
				n = parseInt(n)+1;
				$('#alertas').text(n);
			}else{
				ex.remove();
			}
			$('#listaAlertas').append(html);
			$('#alertas').parent().attr('aria-expanded', 'true');
			$('#alertas').parent().parent().addClass('open');

			if(obj.data.estado.localeCompare('checar') == 0)
			{
				$('.estado_' + obj.data.res).html('<span class="label label-danger">Sin atender</span>');
			}else if(obj.data.estado.localeCompare('checado') == 0){
				$('.estado_' + obj.data.res).html('<span class="label label-warning">Atendiendo</span>');
			}else if(obj.data.estado.localeCompare('finalizado') == 0){
				$('.estado_' + obj.data.res).html('<span class="label label-success">Recuperado</span>');
			}
			
			/*
			setInterval(function(){
				$('#alertas').text(0);
				$('#listaAlertas').html('<li class="dropdown-header">Advertencia</li>');
				$('#alertas').parent().attr('aria-expanded', 'false');
				$('#alertas').parent().parent().removeClass('open');
			}, 1000);
			*/
		});
	});
	</script>
</body>
</html>
