<div class="row">
	<div class="col-md-12">
		<div class="well bs-component">
			<form class="form-horizontal" method="post">
				<fieldset>
					<legend>Datos del Corral.</legend>
					<div class="form-group">
						<label for="id_receptor" class="col-xs-2 control-label">ID de receptor</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" placeholder="ID del dispositivo receptor" id="id_receptor">
						</div>
						<a href="#" class="btn btn-default col-xs-1"><i class="fa fa-search"></i></a>
					</div>
					<div class="form-group">
						<label for="corral" class="col-xs-2 control-label">Nombre de corral</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" placeholder="Nombre de corral" id="corral">
						</div>
					</div>
					<div class="form-group">
						<label for="descripcion_corral" class="col-xs-2 control-label">Descripción</label>
						<div class="col-xs-10">
							<textarea class="form-control" rows="3" id="descripcion_corral"></textarea>
							<span class="help-block">Escriba alguna descripción que ayude a identificar el corral.</span>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
	<li class="mfb-component__wrap">
		<!-- the main menu button -->
		<a class="mfb-component__button--main">
			<!-- the main button icon visibile by default -->
			<i class="mfb-component__main-icon--resting fa fa-plus"></i>
			<!-- the main button icon visibile when the user is hovering/interacting with the menu -->
			<i class="mfb-component__main-icon--active fa fa-plus"></i>
		</a>
		<ul class="mfb-component__list">
			<!-- a child button, repeat as many times as needed -->
			<li>
				<a href="link.html" data-mfb-label="Guardar" class="mfb-component__button--child">
					<i class="mfb-component__child-icon fa fa-floppy-o"></i>
				</a>
			</li>
			<li>
				<a href="link.html" data-mfb-label="Guardar y añadir otro" class="mfb-component__button--child">
					<i class="mfb-component__child-icon fa fa-plus-circle"></i>
				</a>
			</li>
			<li>
				<a href="link.html" data-mfb-label="Salir sin guardar" class="mfb-component__button--child">
					<i class="mfb-component__child-icon fa fa-remove"></i>
				</a>
			</li>
		</ul>
	</li>
</ul>