body {
	margin-top: 80px;
}
.mfb-component--br a:hover {
	color: #571813;
}
.open > .dropdown-menu {
	-webkit-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
.dropdown-menu {
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-webkit-transform-origin: top;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1, 0);
	display: block;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.dropdown-header {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	border-bottom: solid 2px #cbcbcb;
}
.drop-up {
	color: #000;
	margin-bottom: -7px;
}
.drop-down {
	font-style: italic;
	font-size: 12px;
}
.noti {
	position: absolute;
	color: #fff;
	font-style: normal;
	background: #f44336;
	padding: 0px 6px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	right: 7px;
	top: 6px;
	font-size: 10px;
	-webkit-animation-name: wobble;
	-webkit-animation-name: wobble;
	-moz-animation-name: wobble;
	-o-animation-name: wobble;
	-ms-animation-name: wobble;
	animation-name: wobble;
	-webkit-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	-ms-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	animation-fill-mode: both;
}
#sidebar {
	position: fixed;
	background: #fff;
	-webkit-box-shadow: 0 0 10px rgba(51,51,51,0.38);
	box-shadow: 0 0 10px rgba(51,51,51,0.38);
	top: 65px;
	height: calc(100% - 65px);
	-webkit-transform: translate3d(-250px, 0, 0);
	-webkit-transform: translate3d(-250px, 0, 0);
	-moz-transform: translate3d(-250px, 0, 0);
	-o-transform: translate3d(-250px, 0, 0);
	-ms-transform: translate3d(-250px, 0, 0);
	transform: translate3d(-250px, 0, 0);
	z-index: 5;
	width: 250px;
	overflow: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: all;
	-o-transition: all;
	-webkit-transition: all;
	-moz-transition: all;
	-o-transition: all;
	-ms-transition: all;
	transition: all;
	-webkit-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	transition-duration: 300ms;
}
.container-fluid {
	padding-left: 3%;
	padding-right: 6%;
}
.navbar-header {
	float: left;
	padding: 15px;
	text-align: center;
}
.navbar-brand {
	float: none;
}
#sidebar .sidebar-inner {
	height: 100%;
	overflow-y: auto;
	width: 300px;
}
#sidebar .sidebar-inner .si-inner {
	width: 250px;
}
#sidebar.toggled {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
#sidebar .profile-menu > a {
	display: block;
	height: 129px;
	margin-bottom: 5px;
	width: 100%;
	background: url("../img/profile-menu.png") no-repeat left top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}
#sidebar .profile-menu > a .profile-pic {
	padding: 12px;
}
#sidebar .profile-menu > a .profile-pic > img {
	width: 47px;
	height: 47px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid rgba(0,0,0,0.14);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#sidebar .profile-menu > a .profile-info {
	background: rgba(0,0,0,0.37);
	padding: 7px 14px;
	color: #fff;
	margin-top: 20px;
	position: relative;
}
#sidebar .profile-menu > a .profile-info > i {
	font-size: 19px;
	line-height: 100%;
	position: absolute;
	right: 5px;
	top: 7px;
	-webkit-transition: all;
	-o-transition: all;
	-webkit-transition: all;
	-moz-transition: all;
	-o-transition: all;
	-ms-transition: all;
	transition: all;
	-webkit-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	transition-duration: 300ms;
}
#sidebar .profile-menu .main-menu {
	display: none;
	margin: 0 0 0;
	border-bottom: 1px solid #e6e6e6;
}
#sidebar .profile-menu:before,
#sidebar .profile-menu:after {
	content: " ";
	display: table;
}
#sidebar .profile-menu:after {
	clear: both;
}
#sidebar .profile-menu:before,
#sidebar .profile-menu:after {
	content: " ";
	display: table;
}
#sidebar .profile-menu:after {
	clear: both;
}
#sidebar .profile-menu.toggled .profile-info > i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
#sidebar .main-menu {
	list-style: none;
	padding-left: 0;
	margin: 20px 0 0 0;
}
#sidebar .main-menu > li > a {
	padding: 14px 20px 14px 52px;
	display: block;
	color: #4c4c4c;
	font-weight: 500;
	position: relative;
}
#sidebar .main-menu > li > a:hover {
	color: #262626;
	background-color: #f7f7f7;
}
#sidebar .main-menu > li > a > i {
	position: absolute;
	left: 16px;
	font-size: 20px;
	top: 0;
	width: 25px;
	text-align: center;
	padding: 9px 0;
}
#sidebar .main-menu > li.sub-menu > a:before,
#sidebar .main-menu > li.sub-menu > a:after {
	position: absolute;
	right: 10px;
	top: 12px;
	color: #575757;
	font-family: 'Material Design Iconic Font';
	font-size: 17px;
	-webkit-transition: all;
	-o-transition: all;
	-webkit-transition: all;
	-moz-transition: all;
	-o-transition: all;
	-ms-transition: all;
	transition: all;
	-webkit-transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	-ms-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
#sidebar .main-menu > li.sub-menu > a:before {
	content: "\f0fb";
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
#sidebar .main-menu > li.sub-menu > a:after {
	content: "\f111";
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
#sidebar .main-menu > li.sub-menu > ul {
	list-style: none;
	background: #f7f7f7;
	display: none;
	padding: 0;
}
#sidebar .main-menu > li.sub-menu > ul > li > a {
	color: #7f7f7f;
	padding: 8px 20px 8px 50px;
	font-weight: 500;
	display: block;
}
#sidebar .main-menu > li.sub-menu > ul > li > a.active,
#sidebar .main-menu > li.sub-menu > ul > li > a:hover {
	color: #000;
}
#sidebar .main-menu > li.sub-menu > ul > li:first-child > a {
	padding-top: 14px;
}
#sidebar .main-menu > li.sub-menu > ul > li:last-child > a {
	padding-bottom: 16px;
}
#sidebar .main-menu > li.sub-menu.toggled > a:before {
	content: "\f0fb";
	-webkit-transform: scale(0) rotate(-90deg);
	-ms-transform: scale(0) rotate(-90deg);
	-o-transform: scale(0) rotate(-90deg);
	-webkit-transform: scale(0) rotate(-90deg);
	-moz-transform: scale(0) rotate(-90deg);
	-o-transform: scale(0) rotate(-90deg);
	-ms-transform: scale(0) rotate(-90deg);
	transform: scale(0) rotate(-90deg);
}
#sidebar .main-menu > li.sub-menu.toggled > a:after {
	content: "\f111";
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
#sidebar .main-menu > li.sub-menu.active > ul {
	display: block;
}
#sidebar .main-menu > li.active > a {
	color: #262626;
	background-color: #f4f4f4;
}
#sidebar a:hover {
	text-decoration: none;
}
#sidebar a:focus {
	text-decoration: none;
}
#bookmark {
	position: fixed;
	background: #fff;
	padding: 20px 0;
	width: 260px;
	-webkit-box-shadow: 0 0 10px rgba(51,51,51,0.38);
	box-shadow: 0 0 10px rgba(51,51,51,0.38);
	height: calc(100% - 65px);
	right: -280px;
	top: 65px;
	-webkit-transition: all;
	-o-transition: all;
	-webkit-transition: all;
	-moz-transition: all;
	-o-transition: all;
	-ms-transition: all;
	transition: all;
	-webkit-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	transition-duration: 300ms;
	z-index: 5;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	overflow: auto;
}
#bookmark.toggled {
	right: 0;
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
#bookmark .bookmark-search {
	padding: 20px 20px 15px 20px;
}
#bookmark .bookmark-search .form-control {
	background-image: url("../img/icons/search-2.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	-webkit-transition: all;
	-o-transition: all;
	-webkit-transition: all;
	-moz-transition: all;
	-o-transition: all;
	-ms-transition: all;
	transition: all;
	-webkit-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	transition-duration: 300ms;
}
#bookmark .bookmark-search .form-control:focus {
	background-position: right center;
	padding: 0 30px 0 0;
}
.listview {
	position: relative;
}
.listview:not(.lv-lg):not(.lv-message) .lv-item {
	padding: 10px 15px;
}
@media (min-width: 480px) {
	.listview.lv-lg .lv-item {
		padding: 17px 35px 17px 25px;
	}
}
@media (max-width: 767px) {
	.listview.lv-lg .lv-item {
		padding: 17px 35px 17px 20px;
	}
}
.listview.lv-lg .lv-item:hover {
	background-color: #ffffdb;
}
.listview .lv-item {
	position: relative;
	display: block;
	-webkit-transition: background-color;
	-o-transition: background-color;
	-webkit-transition: background-color;
	-moz-transition: background-color;
	-o-transition: background-color;
	-ms-transition: background-color;
	transition: background-color;
	-webkit-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	transition-duration: 300ms;
}
.listview .lv-item .lv-small {
	font-size: 12px;
	color: #a9a9a9;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	width: 100%;
}
.listview .lv-item .checkbox,
.listview .lv-item.media {
	margin: 0;
}
.listview .lv-item .lv-actions {
	position: absolute;
}
@media (min-width: 480px) {
	.listview .lv-item .lv-actions {
		right: 15px;
		height: 30px;
		margin-top: -15px;
		top: 50%;
	}
}
@media (max-width: 767px) {
	.listview .lv-item .lv-actions {
		right: 7px;
		top: 10px;
	}
}
.listview .lv-title {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.listview a.lv-item:hover {
	background: #ecf9ff;
}
.listview [class*="lv-img"] {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.listview .lv-img {
	width: 50px;
	height: 50px;
}
.listview .lv-img-sm {
	width: 35px;
	height: 35px;
}
.listview .lv-header {
	text-align: center;
	padding: 15px 10px 13px;
	line-height: 100%;
	text-transform: uppercase;
	border-bottom: 1px solid #f0f0f0;
	font-weight: 500;
	color: #4c4c4c;
}
.listview .lv-header .actions {
	position: absolute;
	top: 6px;
	right: 8px;
	z-index: 10;
}
.listview .lv-header-alt {
	background: #f8f8f8;
	padding: 12px;
	border-bottom: 1px solid #eee;
}
.listview .lv-header-alt:before,
.listview .lv-header-alt:after {
	content: " ";
	display: table;
}
.listview .lv-header-alt:after {
	clear: both;
}
.listview .lv-header-alt:before,
.listview .lv-header-alt:after {
	content: " ";
	display: table;
}
.listview .lv-header-alt:after {
	clear: both;
}
.listview .lv-header-alt .lv-actions {
	z-index: 3;
	float: right;
	margin-top: 3px;
	position: relative;
}
.listview .lv-header-alt .lv-actions > li > a {
	margin: 0 3px;
}
.listview .lvh-label {
	color: #818181;
	display: inline-block;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	padding: 0 10px;
	line-height: 33px;
	vertical-align: middle;
}
.listview .lv-footer {
	display: block;
	text-align: center;
	padding: 7px 10px 8px;
	border-top: 1px solid #f0f0f0;
	line-height: 100%;
	font-size: 11px;
	margin-top: 20px;
	color: #828282;
}
.listview a.lv-footer:hover {
	color: #050505;
}
.listview.lv-bordered .lv-item:not(:last-child) {
	border-bottom: 1px solid #f0f0f0;
}
.listview .lv-attrs {
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;
}
.listview .lv-attrs > li {
	display: inline-block;
	padding: 2px 10px 3px;
	font-size: 12px;
	margin-top: 5px;
	margin-right: 2px;
}
.listview .lv-attrs > li:not(.info):not(.primary):not(.warning):not(.danger) {
	border: 1px solid #dedede;
	background: #fff;
	color: #5e5e5e;
}
.listview .lv-attrs > li.info {
	border: 1px solid #00bcd4;
	background: #00bcd4;
	color: #fff;
}
.listview .lv-attrs > li.primary {
	border: 1px solid #2196f3;
	background: #2196f3;
	color: #fff;
}
.listview .lv-attrs > li.warning {
	border: 1px solid #ff9800;
	background: #ff9800;
	color: #fff;
}
.listview .lv-attrs > li.danger {
	border: 1px solid #f44336;
	background: #f44336;
	color: #fff;
}
.listview .lv-attrs > li > a {
	display: block;
}
.listview:not(.lv-message) .lv-title {
	color: #000;
}
#bookmark a:hover,
#bookmark a:focus {
	text-decoration: none;
}
