	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css" rel="stylesheet">
	<div class="container">
		<div class="page-header">
			<h1>MonitoRes</h1>
		</div>
		<p class="lead"><%= mensaje %></p>		
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">MonitoRes Copyright 2015.</p>
		</div>
	</footer>
	<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>