<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Monito~Res</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="icon" href="/images/logor.png" />

	<!--STYLES-->
	<link rel="stylesheet" href="/min/production.min.css">
	<!--STYLES END-->
</head>

<body>

	

	<div class="container" style="margin-top: -80px;">
		<div class="row">
			<div class="col-xs-12">
				<center><img src="/images/logobig.png" style="width:30%; padding:20px;"></center>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<div class="well bs-component">
					<% var msj = req.flash('err'); %>
					<% if(msj.length > 0){ %>
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Error</strong> <%= msj[0] %>
						</div>
					<% } %>
					<form class="form-horizontal" method="post">
						<input type='hidden' name='_csrf' value='<%= _csrf %>'>
						<fieldset>
							<legend>Datos de usuario</legend>
							<div class="form-group">
								<label for="inputEmail" class="col-md-2 control-label">Email</label>
								<div class="col-md-10">
									<input type="email" name="email" class="form-control" placeholder="Email" required>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">Password</label>
								<div class="col-md-10">
									<input type="password" class="form-control" name="password" placeholder="Password" required>
								</div>
							</div>
							<center>
								<button type="submit" class="btn btn-danger">Entrar</button>
							</center>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</div>


	<!--SCRIPTS-->
	<script src="/min/production.min.js"></script>
	<!--SCRIPTS END-->
</body>
</html>
